.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modal h2 {
  margin-bottom: 15px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.modal p {
  color: red;
  font-size: 13px;
  margin: -6px 0 10px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}