.navbar {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  background: #2563eb;
}

.navbar h2 {
  color: white;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  text-decoration: underline;
}